<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="description_title">
    <h1 class="entry-text-center">Nos plats signatures</h1>
    <ul>Salade de Poulpe</ul>
    <ul>Ceviche de Noix Saint Jacques</ul>
    <ul>Gravlax</ul>
    <ul>Tataki de Thon</ul>
    <ul>Carpaccio de Canard</ul>
    <ul>Tartare de Boeuf à la thai</ul>
  </div>
</body>
