<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="platsignature-banner">
    <%= image_tag 'platsignature.jpg', alt: 'Chef Image', class: 'platsignautre-image img-fluid w-100' %>
  </div>
  <!-- Contact Information -->
  <div class="container my-5 platsignature-container text-center">
    <div class="platsignature-text">
      <div class="row justify-content-center">
          <h1 class="platsignature-title">Nos plats signatures</h1>
            <ul class="plat-title">Salade de Poulpe</ul>
            <p class="plat-description">Poulpe cuit à basse temperature, poivrons grillés, tomates sechées, caviar d'aubergines, roquette, parmesan</p>
            <ul class="plat-title">Ceviche de Noix Saint Jacques</ul>
            <p class="plat-description">au lait de coco & citron vert, tagliatelles de courgettes, mangue, concombre, coriandre</p>
            <ul class="plat-title">Gravlax</ul>
            <p class="plat-description">Saumon ou Truite</p>
            <ul class="plat-title">Tataki de Thon</ul>
            <p class="plat-description">Wakamee, Houmous aux herbes d'Asie, pousses de soja, Wasabi</p>
            <ul class="plat-title">Carpaccio de Canard</ul>
            <p class="plat-description">Maki de riz, carottes marinés, cacahuètes, soja</p>
            <ul class="plat-title">Tartare de Boeuf à la thai</ul>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
