<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="platsignature-banner">
    <%= image_tag 'platsignature.jpg', alt: 'Chef Image', class: 'platsignautre-image img-fluid w-100' %>
  </div>
  <!-- Contact Information -->
  <div class="container my-5 platsignature-container text-center">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="platsignature-title">Nos plats signatures</h1>
            <ul>Salade de Poulpe</ul>
            <ul>Ceviche de Noix Saint Jacques</ul>
            <ul>Gravlax</ul>
            <ul>Tataki de Thon</ul>
            <ul>Carpaccio de Canard</ul>
            <ul>Tartare de Boeuf à la thai</ul>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
