<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

  <div class="home-banner">
    <%= image_tag 'home.png', alt: 'Home Image', class: 'home-image img-fluid w-100' %>
  </div>
  <!-- Contact Information -->
  <div class="container my-5 tataki-container text-center">
     <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="entry-title">Le 6ième Continent vous offre un voyage culinaire</h1>
          <h2>de la Streetfood à la Bistronomie</h2>
          <div class="description">
         <p>Notre cuisine gastro-nomade se demarque par ses influences asiatiques, mediterranien et orientales.</p>
         <p>Une cuisine passionnée par le voyage, une cuisine de partage, basée aux produits de saison & locaux.</p>
         <p> * * * </p>
         <h2>Événementiel</h2>
         <h3>Soirées privées, anniversaires, lendemain de mariage, festivals...</h3>
         <p>Nous vous proposons des saveurs 100% personnalisées.</p>
         <p>Laissez-vous séduire par nos savoureuses créations.</p>
        </div>
     </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
