<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="description_title">
    <h1 class="entry-title">Le 6ième Continent vous offre un voyage culinaire, de la streetfood à la bistronomie</h1>
  </div>
    <div class="image-container">
      <%= image_tag 'tataki.jpg', alt: 'Tataki Image', class: 'centered-image' %>
    </div>
    <h1 class="entry-title">Notre cuisine gastro-nomade se demarque par ses influences asiatiques, mediterranien et orientales. Une cuisine passionnée par le voyage, une cuisine de partage, basée aux produits de saison & locaux.</h1>
</body>
