<!-- app/views/pages/home.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="et_pb_section et_pb_section_1_tb_header bandeau-gen et_pb_sticky_module et_pb_with_background et_section_regular et_pb_section--with-menu" style>
        <div class="et_pb_menu__logo-wrap">flex
        <div class="logo">
         <img src="https://www.facebook.com/photo/?fbid=466052365535156&set=a.466052338868492" class="logo" alt="Logo">
        </div>
          <div class="banner-links">
           <%= link_to "Événements", evenements_path, class: "invisible-button" %>
           <%= link_to "Plats Signatures", plats_path, class: "invisible-button" %>
           <%= link_to "Photos", photos_path, class: "invisible-button" %>
            <%= link_to "Contact", contact_path, class: "invisible-button" %>
          </div>
        </div>
        <h3>Cuisine du Monde</h3>
       <p>Explorez nos événements, plats signatures et photos.</p>
       </div>
      </div>
    </div>
  </div>
<div class="description_title">
<h1 class="entry-title">Le 6ième Continent, en voyage culinaire, de la streetfood à la bistronomie</h1>
</div>
<div class="photo">
  <img src="https://media.istockphoto.com/id/1146261080/fr/photo/chef-finissant-la-salade-saine-sur-une-assiette-noire-avec-une-pincettes-presque-pr%C3%AAt-%C3%A0-le.jpg?s=2048x2048&w=is&k=20&c=btwPLtepJI1AJorITXWVNZTKbvvo5nCZdJ2vICYmd_4=" alt="Photo">
</div>
