<!-- app/views/pages/home.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Le 6ième Continent</h1>
      <h3>Cuisine du Monde</h3>
      <p>Explorez nos événements, plats signatures et photos.</p>
      <%= link_to "Événements", evenements_path, class: "invisible-button" %>
      <%= link_to "Plats Signatures", plats_path, class: "invisible-button" %>
      <%= link_to "Photos", photos_path, class: "invisible-button" %>
    </div>
    <div class="col-md-6">
      <!-- Ajoutez d'autres contenus ou fonctionnalités ici -->
    </div>
  </div>
</div>
