div.et_pb_section.et_pb_section_1_tb_header {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .96) 0, rgba(0, 0, 0, .4) 100%) !important;
}

.et_pb_section_1_tb_header.et_pb_section
{  padding-top: 20px;
  padding-bottom: 0;
  background-color: #212226 !important;
}

.et_pb_section_1_tb_header {
  margin-bottom: 0;
  z-index: 100000;
  position: relative;
}

.et_pb_section {
   background-position: 50%;
  background-size: cover;
}

.et_pb_menu__wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.et_pb_menu .et_pb_menu__wrap {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  opacity: 1;
}


.banner-links {
  margin-top: 20px; /* Ajustez la marge au-dessus des liens si nécessaire */
  text-align: center;
}

.banner-links a {
  display: inline-block; /* Permet aux liens d'être alignés horizontalement */
  margin: 0 10px; /* Ajustez l'espacement entre les liens si nécessaire */
}
