.nav-link.invisible-button {
  font-weight: lighter;
  color: #fdfbfb; /* Couleur du texte */
  text-decoration: none; /* Pour supprimer le soulignement du lien */
  cursor: pointer; /* Pour indiquer que le lien est cliquable */
  font-size: 14px;
  padding: 31px 0px;
  font-weight: lighter;
}

.invisible-button:hover {
  color: rgb(88, 88, 104); /* Couleur du texte au survol */
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
