.entry-text-center {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-weight: 200;
  color: #2d2d2d;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-size: 26px;
  padding-top: 50px;
  padding-left: 230px;
  padding-right: 160px;
}

.contact-container {
  padding-top: 300px;
  text-align: center;
}

.contact-info {
  color: #2d2d2d;
  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
}

.contact-email {
  color: #CB9400;
  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
}

.contact-title {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-weight: 200;
}
