.event-banner {
  width: 100%;
  position: relative;
  overflow: hidden; /* Assurez-vous que tout contenu en débordement est masqué */
  padding-bottom: 20px;
}

.event-image {
  width: 100%;
  object-fit: cover; /* Assurez-vous que l'image couvre le conteneur tout en gardant ses proportions */
  display: block;
  position: relative;
}

.event-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  z-index: 1;
}

.event-section {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color:  #f4ebdc; /* Beige */
  color: #333;
  border: none;
  margin: 60px;
}

.text-content {
  flex: 1;
  padding-right: 20px;
  font-size: 1.2em;
  line-height: 1.6;
  background-color:  #f5f0e1;
}

.image-content {
  flex: 1;
  padding-left: 20px;
  background-color: rgba(0, 0, 255, 0.1); /* Couleur temporaire pour débogage */
}

.image-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cta-button {
  background-color: #d4a017; /* couleur dorée */
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 767px) {
  .event-section {
    flex-direction: column;
    text-align: center;
  }

  .text-content, .image-content {
    padding: 10px 0;
  }
}
