/* Event Banner */
.event-banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.event-image {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

.event-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  z-index: 1;
}

/* Event Container */
.event-container {
  position: relative;
  display: flex;
  flex-wrap: wrap; /* Permet aux enfants de passer sur plusieurs lignes */
  justify-content: space-between;
  background-color: #f4ebdc;
  gap: 2rem;
  border-radius: 5px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.text-content {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: justify; /* Justifie le texte */
  color: #333;
  line-height: 1.8; /* Espacement vertical */
  letter-spacing: 0.05em; /* Espacement horizontal entre les lettres */
  font-weight: 200;
  padding: 2rem; /* Marge intérieure pour respirer */

  ul {
    list-style: none; /* Retire les puces */
    padding: 0; /* Supprime les marges internes */
    margin: 0; /* Supprime les marges externes */
  }

  li {
    margin-bottom: 15px; /* Espacement entre les items */
    line-height: 1.8; /* Espacement des lignes */
  }
}

.image-content {
  position: relative; /* Nécessaire pour que le bouton utilise ce conteneur comme référence */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contact-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.btn-action {
  position: absolute; /* Positionnement absolu pour le placer par rapport à son conteneur parent */
  bottom: 10px; /* Distance du bas de l'image */
  right: 10px; /* Distance du côté droit de l'image */
  background-color: #cb9400;
  color: #fff !important;
  padding: 0.8rem 1.5rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  z-index: 10; /* Assure que le bouton reste visible devant l'image */
  transition: background-color 0.3s ease;
}

.btn-action:hover {
  background-color: #e6b800; /* Couleur au survol */
}


.btn-action:hover {
  background-color: #e6b800;
}

/* Responsive */
@media (max-width: 767px) {
  .event-container {
    flex-direction: column;
    gap: 20px; /* Ajoute de l'espace entre les sections */
  }

  .text-content {
    text-align: center;
  }

  .btn-action {
      bottom: 5px; /* Réduit l'espace en bas pour mobile */
      right: 5px; /* Réduit l'espace à droite pour mobile */
      font-size: 12px; /* Réduit la taille du texte pour mobile */
      padding: 0.6rem 1rem; /* Réduit les marges internes du bouton */
    }
  }
