
body {
  margin: 0;
}

a {
  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding: 31px;
  border: 0;
  outline: 0;
  font-size: 80%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: 0 0;
  letter-spacing: 0.1em;
  padding: 0px;
}

/* Centrer le conteneur parent */
.image-container {
  display: flex;
  justify-content: center;  /* Centrer horizontalement */
  align-items: center;      /* Centrer verticalement */
  padding-top: 180px;;
  // height: 100vh;            /* S'assurer que le conteneur prend toute la hauteur de la page */
}

/* Style de l'image */
.centered-image {
  max-width: 70%;  /* Ajustez la largeur maximale selon vos besoins */
  height: auto;    /* Conserver les proportions de l'image */
  top: -10%;
}

.entry-title {
  font-weight: 200;
  color: #2d2d2d;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-size: 26px;
  padding-top: 50px;
  padding-left: 230px;
  padding-right: 160px;
}
