@import "bootstrap";

body {
  margin: 0;
}

a {
  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
  color: #2d2d2d;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding: 31px;
  border: 0;
  outline: 0;
  font-size: 80%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: 0 0;
  letter-spacing: 0.1em;
  padding: 0px;
}

.description {
  padding-top: 30px;
  font-size: 18px;
}


// /* Responsive adjustments for .entry-text-center */
@media (max-width: 768px) {
  .entry-text-center {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }
}

h1.entry-title {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-weight: 200;
}

h3 {
  padding-bottom: 20px;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-weight: 150;
}

h2 {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-weight: 150;
}
