.et_pb_menu_inner_container>.et_pb_menu__logo-wrap {
  width: auto;
  max-width: 100%;
}

.et_pb_menu__logo-wrap {
  margin: 0 auto;
}

.et_pb_menu--style-centered .et_pb_menu__logo-wrap {
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  // -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  // -ms-flex-align: center;
  align-items: center;
}

.logo-container {
  text-align: center;
}

/* Style de l'image */
.logo {
  max-width: 200px;
  margin-top: 10px;
  height: auto;
  display: inline-block; /* Pour que l'image soit centrée avec text-align */
}
