@import "bootstrap";

.lunch-banner {
  width: 100%;
  position: relative;
  overflow: hidden; /* Assurez-vous que tout contenu en débordement est masqué */
}

.lunch-image {
  width: 100%;
  object-fit: cover; /* Assurez-vous que l'image couvre le conteneur tout en gardant ses proportions */
  display: block;
  position: relative;
}

.lunch-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
}


.lunch-banner {
  position: relative;
  text-align: center;
  color: white;
}

.lunch-banner .lunch-image {
  filter: brightness(70%); /* Assombrit l'image pour que le texte soit plus lisible */
}

.lunch-text {
  text-align: center;
  margin-top: 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  font-weight: 200;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-size: 20px;
}

h1.lunch-title, p {
  color: #2d2d2d;
  margin: 10px 0;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
}

// .lunch-text p {
//   list-style-type: none;
//   padding: 0;
// }

h2.orange {
  color: #CB9400;
}
