.platsignature-banner {
  width: 100%;
  position: relative;
  overflow: hidden; /* Assurez-vous que tout contenu en débordement est masqué */
}

.platsignature-image {
  width: 100%;
  object-fit: cover; /* Assurez-vous que l'image couvre le conteneur tout en gardant ses proportions */
  display: block;
  position: relative;
}

.platsignature-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  z-index: 1;
}

.platsignature-banner .contact-image {
  filter: brightness(70%); /* Assombrit l'image pour que le texte soit plus lisible */
}

.platsignature-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  font-weight: 200;
  font-size: 20px;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  z-index: 2; /* Assurez-vous que le texte est au-dessus de l'image et du dégradé */
  text-align: center;
  color: white;
  margin: 10px 0;
}


.plat-title {
  color: white;
  text-decoration: underline;
  margin-top: 15px;
  margin-bottom: 0px;
}

.plat-description {
  color: white;
  font-style: italic;
  font-weight: 180;
}

.platsignature-text h1 {
  margin-bottom: 20px; /* Ajoutez plus d'espace sous le titre principal */
}

/* Custom Styles */
.entry-text-center {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-weight: 200;
  color: white;
  font-size: 26px;
  padding-top: 50px;
  padding-left: 230px;
  padding-right: 160px;
  z-index: 2;
  position: relative;
}

/* Responsive Design */
@media (max-width: 767px) {
  .entry-text-center {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }

  .platsignature-title {
    font-size: 2rem; /* Taille plus petite pour mobile */
    padding-top: 50px; /* Ajuster les marges pour les petits écrans */
    padding-bottom: 40px;
  }

  .platsignature-banner {
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .platsignature-image {
    width: 100%;
    object-fit: cover;
    display: block;
    position: relative;
  }

  .platsignature-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    z-index: 1;
  }
}

/* Center logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
