.entry-text-center {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-weight: 200;
  color: #2d2d2d;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-size: 26px;
  text-align: center;
}
