<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

 <div class="lunch-banner">
    <%= image_tag 'lunch.jpg', alt: 'Lunch Image', class: 'lunch-image img-fluid w-100' %>
  </div>
  <!-- Information -->
  <div class="container my-5 lunch-container text-center">
    <div class="row justify-content-center">
       <div class="col-12">
         <h1 class="lunch-title">Notre spot au parc 2000 à Bureaux and Co</h1>
          <p>Du Lundi à Vendredi</p>
          <p>12 - 14 heures</p>
          <h2 class="orange">à emporter ou sur place</h2>
      </div>
    </div>
  </div>

 <div class="container my-5 plats-lunch-container text-center">
    <div class="plats-lunch-text">
      <div class="row justify-content-center">
          <h1 class="lunch-week-title">Plats de la semaine</h1>
          <ul class="plat-lunch-title">Pita greek style</ul>
           <p class="plat-lunch-description">Poulet effiloché, poivrons grilés, tzatziki, feta, pois chiches frits, menthe, frites & mayo maison 14 €</p>
          <ul class="plat-lunch-title">Burgerlovers</ul>
           <p class="plat-lunch-description">Boeuf Charolais, Cheddar, tomates, salade, sauce au fromage blanc & moutarde à l'ancienne, frites & mayo maison 15€</p>
          <ul class="plat-lunch-title">Döner</ul>
           <p class="plat-lunch-description">Veau et Dinde effiloché épicés, choux rouge, sauce au fromage blanc & citron vert, menthe, frites & mayo maison 15€</p>
          <ul class="plat-lunch-title">Banh Mi du 6ième Continent</ul>
           <p class="plat-lunch-description">Poulet effiloché au curry rouge, citronnelle, thaï basilic, choux chinois, pousses de soja, coriandre, cacahètes 14€</p>
          <ul class="plat-lunch-title">Ceviche du Moment</ul>
           <p class="plat-lunch-description">Poisson du jour, citron vert, tagliatelles de courgettes, mangue, concombres, coriandre, mais frits 14€ </p>
          <ul class="plat-lunch-title">Rouille du Chef</ul>
           <p class="plat-lunch-description">Poulpe & Calamar, vin blanc, sauce tomate, olives vertes, anchois, fenouil, carottes, pommes de terre en persillade 13€</p>
          <ul class="plat-lunch-title">Pasta et basta</ul>
           <p class="plat-lunch-description">Linguine, Noix de Saint Jacques snackés, sauce crémeux au Noilly Prat, basilic, citron, courgettes, parmesan 15€</p>

          <h2 class="orange">* * * </h2>
          <h5 class="orange">* Options végétariens disponibles! * Menu Plat & Patisserie & Boisson disponible *</h5>
          <h2 class="orange">Venez decouvrir plein d'autre plats du 6ième Continent</h2>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
