<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lunch Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
 <div class="lunch-banner">
    <%= image_tag 'lunch.jpg', alt: 'Lunch Image', class: 'lunch-image img-fluid w-100' %>
  </div>
  <!-- Contact Information -->
  <div class="container my-5 contact-container">
    <div class="row">
      <div class="col-md-6 contact-info">
        <h1 class="contact-title">Notre spot au parc 2000 à Bureaux and Co</h1>
        <p>Du Lundi à Vendredi</p>
        <p>12 - 14 heures</p>
              </div>
      <div class="col-md-6 contact-email">
        <h2>Les plats varient selon l'arrivage du jour</h2>
        <h2>Desserts & Drinks</h2>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
