<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evenements</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="event-banner">
    <%= image_tag 'tapas.jpg', alt: 'Tapas Image', class: 'contact-image img-fluid w-100' %>   
  <div class="container my-5 contact-container">
    <div class="row">
      <div class="col-md-6 contact-info">
        <h1 class="contact-title">Nos prochains événements</h1>
        <h2>Saison 2024:</h2>
        <ul>26/05 Chateau d'Ô - Montpellier</ul>
        <ul>du 24/06 au 31/08 Les marchées nocturnes du lundi soir - Pignan</ul>
        <ul>04/07 Les jeudis terroirs - Clermont l'Herault</ul>
        <ul>18/07 Soirée estivale Chateau de la Dournie - Saint-Chinian</ul>
        <ul>18/07 Les jeudis terroirs - Clermont l'Herault</ul>
        <ul>19/07 les Nocturnes au Salagou - Lac du Salagou</ul>
        <ul>01/08 Soirée estivale Chateau de la Dournie - Saint-Chinian</ul>
        <ul>01/08 Les jeudis terroirs - Clermont l'Herault</ul>
        <ul>15/08 Soirée estivale Chateau de la Dournie - Saint-Chinian</ul>
      </div>
    </div>
  </div>

  </div>




  <%= javascript_include_tag 'application' %>
</body>
</html>
