<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evenements</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="event-banner">
    <%= image_tag 'tapas.jpg', alt: 'Tapas Image', class: 'event-image' %>
    <div class="event-text">
      <div class="container my-5 event-container">
        <h1 class="event-title">Nos prochains événements</h1>
        <h2>Saison estivale 2024:</h2>
        <ul>
          <li><strong>26/05</strong> - Chateau d'Ô - Montpellier</li>
          <li><strong>24/06 - 31/08</strong> - Les marchés nocturnes du lundi soir - Pignan</li>
          <li><strong>04/07</strong> - Les jeudis terroirs - Clermont l'Hérault</li>
          <li><strong>18/07</strong> - Soirée estivale Chateau de la Dournie - Saint-Chinian</li>
          <li><strong>18/07</strong> - Les jeudis terroirs - Clermont l'Hérault</li>
          <li><strong>19/07</strong> - Les Nocturnes au Salagou - Lac du Salagou</li>
          <li><strong>01/08</strong> - Soirée estivale Chateau de la Dournie - Saint-Chinian</li>
          <li><strong>01/08</strong> - Les jeudis terroirs - Clermont l'Hérault</li>
          <li><strong>15/08</strong> - Soirée estivale Chateau de la Dournie - Saint-Chinian</li>
        </ul>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
